@media (min-width: 768px){

  header button {
    margin-top: 0;
  }

  #titulo a {
      font-size: 7vh;
  }
  .titulo_faq {
    font-size: 5vw;
    padding-bottom: 3%;
    text-shadow: 0 2px 8px #00000088;
  }

  .botoes {
    font-size: 4vh;
  }

  .menu-toggle {
    display: none;
  }

  
  #menuNav, #menuNav.active {
    display: flex;
    position: static;
    height: 30px;
    opacity: 1;
    pointer-events: all;
    transition: none;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
  }
  
  #menuNav ul {
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: nowrap;
    padding-top: 0;
  }
  
  #menuNav ul li {
    margin-left: 15px;
  }
  
  #menuCores {
    pointer-events: all;
    flex-direction: row;
    position: static;
    opacity: 1;
    background-color: transparent;
    margin: auto auto;
    min-width: auto;
  }
  
  #logo {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  #titulo {
    display: flex;
    flex: 2;
    text-align: center;
  }
  
  #menuCores {
    flex: 1;
    justify-content: center;
  }
  
  #botaoCor {
    margin-left: 0;
  }

  #menu {
    justify-content: space-evenly;
  }

  #tituloGeral{
    margin-top: 0;
  }


  /*********************************************/
  /*           PÁGINA DE INTEGRANTES           */
  /*********************************************/

  #titulointegrantes {
    margin-top:40px;
  }
  
  .integrantes img {
    width: 220px;
    height: 220px;
  }
  .integrante-info {
    max-width: 190px;
  }
  .integrantes h2 {
    font-size: 30px;
  }
  .integrantes p {
    font-size: 20px;
  }


/*************************************/
/*           PÁGINA DE FAQ           */
/*************************************/

  .titulo_faq{
    text-shadow: 0 2px 8px #ff660088;
  }

  /******************************/
  /*           FOOTER           */
/******************************/


  .rodape-p {
    font-size: 2.3vw;
  }
}