@media (min-width: 600px){
    html, body {
        min-height: 100vh;
        max-height: 100%;
        justify-content: space-between;
      }
    
      #container-geral{
        width: 100%;
      }
    
      header {
        height: 70px;
        justify-content: space-between;
        align-items: center; 
        flex-wrap: nowrap; 
        padding: 0;
    
      }
    
      #logo {
        margin-left: 7%;
        flex: 0;
      }
    
      #logo img {
        margin-left: -10px;
        margin-top: 0;
        width: 65px;
      }
      #titulo a {
        margin-top: 0;
        font-size: 55px;
        margin-left: 0;
      }
      
      .menu-toggle {
        display: block;
    margin-bottom: 12px;

      }
      
      #menuCores {
        pointer-events: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0164b5;
        position: absolute;
        top: 43vh;
        right: 0;
        opacity: 0;
        transition: right 0.4s ease-in-out, opacity 0.2s ease-in-out;
        width: 35vh;
        min-width: 20%;
        height: -1000px;
        z-index: 3;
        flex: 0;
        display: flex;
        /* gap: 1px; */
      }
      
      #menuCores.active {
        display: block;
        height: 8vh;
        border-radius: 10px;
        right: 0;
        pointer-events: all;
        opacity: 1;
      }
      
      #botaoCor{
        margin-left: 3.5vh;
      
      }
    
      header button{
        width: 4vh;
        height: 4vh;
        margin-top: 2vh;
        margin-left: 1.5vh;
      }
    
      #menuNav {
        pointer-events: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        min-width: 20%;
        top: 14vh;
        right: 0;
        max-width: 35vh;
        height: -1000px;
        opacity: 0;
        transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
      }
    
      #menuNav ul {
        justify-content: center;
        padding-top: 17px;
        flex-wrap: wrap;
        white-space: wrap;
        max-width: 20%;
        margin-left: 39%;
      }
    
      #menuNav.active{
        display: block;
        right: 0;
        height: 31vh;
        opacity: 1;
        pointer-events: all;
        z-index: 2;
      }
    
      #menuNav a {
        font-size: 22px;
    
      }
    
    /****************************************/
    /*           PÁGINA PRINCIPAL           */
    /****************************************/
      
      #inicio {
        flex-direction: column;
      }
      
      #menu {
        width: 100%;
        height: auto;
        z-index: 2;
      }
      #tituloMenu{
        margin-top: 50px;
      }
      #tituloMenu h1 {
        font-size: vw;
      }
      .botoes {
        font-size: 3vh;
        width: 80%;
        height: auto;
      }
      #container-botoes{
        height: auto;
        
      }


    /*********************************************/
    /*           PÁGINA DE INTEGRANTES           */
    /*********************************************/

#titulointegrantes {
    font-size: 24px;
    margin: 4%;
    margin-top: 6%;
  }
  
  .integrantes {
    width: 65%;
    flex-direction: column;
    height: auto;
    padding: 2%;
  }
  
  .integrante {
    width: 78%;
    margin: 10px 15px;
  }
  
  .integrantes img {
    width: 230px;
    height: 230px;
  }
  .integrantes h2 {
    font-size: 40px;
  }
  .integrantes p {
    font-size: 24px;
  }
  
  #iconLinkedin, #iconGithub {
    width: 60px;
    height: 60px;
    margin: 5px;
  }
    

    /******************************************/
    /*           PÁGINA DE CONTATO            */
    /******************************************/

    .container-formulario-geral {
        width: 100%;
        height: auto;
        
    }
    .tituloContato {
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 35px;
        text-align: center;
    }
    .container-formulario {
        display: block;
        margin-left: auto;
        width: 95%;
        flex-direction: column;
        align-items: center;
      }
      .container-formulario fieldset {
          width: 90%;
          padding: 10px;
          border-width: 3px;
      }
    .container-formulario label {
        font-size: 18px;
        padding-left: 5px;
    }
    .container-formulario input {
        width: 90%;
        font-size: 16px;
    }
    .msg-form textarea {
      margin-left: 15px;
      width: 92%;
      height: 120px;
      margin-top: 30px;
      padding: 10px 3px;
    }
    .button-form {
        width: 80px;
        height: 35px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
  
  /*************************************/
  /*           PÁGINA DE FAQ           */
  /*************************************/
  
    #corpo_pagina_faq {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        
    }
    .titulo_faq h1 {
        font-size: 4vh;
        text-align: center;
    }
    .toggle,
    .section {
        width: 80%;
        margin: 10px auto;
    }
    .left,
    .right {
        margin: 0 auto;
    }
    .toggle {
      margin-top: 15px;
        padding: 10px 15px;
        font-size: 16px;
    }
    .section {
        padding: 10px;
    }

    /******************************/
    /*           FOOTER           */
    /******************************/

    footer {
        margin-top: 10%;
        z-index: 4;
      }
      .rodape-p {
        font-size: 3vw;
      }
}
