@media (min-width: 1300px) {

    #titulo a {
      padding-top: 5px;
      font-size: 9vh;
      color: #000000;
    }


    #logo img {
      padding-top: 0;
      width: 80px;
    }
    .BotaoBody {
      min-width: 35px;
      height: 35px;
    }

    #botaoCor5{
      margin-right: 100px;
    }
    #info h1 {
      font-size: 2.6vw;
      margin-top: 55vh;
    }

    .integrantes h2 {
      font-size: 4.5vh;
  }
  .integrantes p {
      font-size: 2.5vh;
  }
        .rodape-p {
        font-size: 1.6vw;
    }
}