@media (min-width: 600px){
  html, body {
      max-height: 100%;
      justify-content: space-between;
    }
  
    #logo, #titulo {
      margin-left: auto;
      margin-right: auto;
    }
  
    #logo img {
      margin-top: 0;
      width: 80px;
    }

    #titulo a {
      font-size: 6vh;
      margin-left: 0;
    }
    
    .menu-toggle {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    
    #menuCores {
      pointer-events: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000;
      position: absolute;
      top: 42vh;
      right: 0;
      opacity: 0;
      transition: opacity ease-in-out, opacity 0.1s ease-in-out;
      width: 35vh;
      min-width: 20%;
      z-index: 4;
    }
    
    #menuCores.active {
      display: block;
      height: 8vh;
      border-radius: 10px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      pointer-events: all;
      opacity: 1;
      border:solid 2px #dcbb00f5;
      border-top: 0px;
    }
    
    #botaoCor{
      margin-left: 3.5vh;
    }
  
    header button{
      width: 4vh;
      height: 4vh;
      margin-top: 2vh;
      margin-left: 1.5vh;
      border: solid 2px #ffd500;
    }


/******************************/
/*           NAVBAR           */
/******************************/


#menuNav {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-width: 20%;
  top: 14vh;
  right: 0;
  max-width: 35vh;
  height: -1000px;
  opacity: 0;
  transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
}

  #menuNav.active{
    display: flex;
    right: 0;
    height: 31vh;
    opacity: 1;
    pointer-events: all;
    z-index: 3;
    border:solid 2px #dcbb00f5;
  }
  
    #menuNav ul {
      justify-content: center;
      white-space: wrap;
      max-width: 20%;
      align-items: center;
      flex-direction: column;
    }

    #menuNav li{
      margin-top: 3px;
      margin-bottom: 3px;
    }
  
    #menuNav a {
      font-size: 22px;
      margin-left: 0;
    }
  
  /****************************************/
  /*           PÁGINA PRINCIPAL           */
  /****************************************/
    
    #inicio {
      flex-direction: column;
    }
    
    #menu {
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    #tituloGeral{
      margin-top: 50px;
      h1 {
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
      }
    }
    .botoes {
      font-size: 3vh;
      width: 80%;
      height: auto;
    }
    main {
      height: 100%;
      justify-content: space-between;
    }


  /*********************************************/
  /*           PÁGINA DE INTEGRANTES           */
  /*********************************************/

#titulointegrantes {
  font-size: 24px;
  margin: 8% auto 0 auto;
}

.integrantes {
  flex-direction: column;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.integrante {
  display: flex;
  min-height: 30%;
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.integrante-info {
  display: flex;
  max-width: 156px;
  flex-direction: column;
  align-items: center;
}

.integrante-info-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.integrantes img {
  width: 180px;
  height: 180px;
  margin: 10px 0 10px 0;

}
.integrantes h2 {
  font-size: 25px;
}
.integrantes p {
  font-size: 18px;
}

#iconLinkedin, #iconGithub, 
#iconLinkedin:hover, #iconGithub:hover  {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  }

  #iconLinkedin {
    margin-right: 10px;
  }
  


  /******************************************/
  /*           PÁGINA DE CONTATO            */
  /******************************************/

  .container-formulario-geral {
      width: 100%;
      height: auto;
  }
  input:focus, select:focus, .msg-form textarea:focus{
    box-shadow: 0 0 0 2px #8200add3;
}
  .tituloContato {
      font-size: 32px;
      margin-top: 40px;
      margin-bottom: 50px;
      text-align: center;
  }
  .container-formulario {
      display: block;
      margin-left: auto;
      width: 95%;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
    }
    .container-formulario fieldset {
        width: 90%;
        padding: 10px 10px 10px 0;
        border-width: 3px;
        border-top-left-radius: 0;
        border:  solid #331f00;

    }
  .container-formulario label {
      font-size: 18px;
      padding-left: 5px;
  }
  .container-formulario input {
      width: 90%;
      font-size: 16px;
  }
  .msg-form textarea {
    margin-left: 15px;
    width: 92%;
    height: 120px;
    margin-top: 30px;
    padding: 10px 3px;
  }
  .button-form {
      width: 80px;
      height: 35px;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
  }

/*************************************/
/*           PÁGINA DE FAQ           */
/*************************************/

  #corpo_pagina_faq {
      flex-direction: column;
      align-items: center;
      min-height: auto;
  }
  .titulo_faq h1 {
      font-size: 6vh;
      text-align: center;
  }

  .section {
      width: 50%;
      padding: 15px;
  }
  
  .left, .right {
    margin-left: auto;
    margin-right: auto;
  }


/*******************************/
/*      PÁGINA DO PROJETO      */
/*******************************/


#tituloProjeto {
  width: 80%;
  margin-top: 50px;
  h1 {
  font-size: 6vh;
  margin-bottom: 25px;
  }
  p {
    font-size: 3vh;
  }
}

#container-projeto{
  margin: 20px auto 0 auto
  }

  #container-projeto fieldset {
    width: 75%;
  }



  /******************************/
  /*           FOOTER           */
  /******************************/

  footer {
      z-index: 4;
    }
    .rodape-p {
      font-size: 3vw;
    }
}
