@media (max-width: 600px) {
  #container-geral{
    height: 100%;
  }

  header {
    height: 80px;
  }

  #logo {
    margin-left: 3%;
    margin-right: 0;
  }

  #logo img {
    width: 75px;
  }

  #titulo a {
    font-size: 6vh;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .menu-toggle {
    display: block;
    margin-right: 5%;
    font-size: 7vh;
    width: 50px;
    height: 60px;
  }
  
  header button{
    margin-top: 2vh;
    margin-left: 1.5vh;
    border: solid 2px #ffd500;
  }
  
  #menuCores {
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: absolute;
    top: 41.5vh;
    opacity: 0;
    right: 0;
    transition: opacity ease-in-out, opacity 0.1s ease-in-out;
    width: 30vh;
    z-index: 3;
    border:solid 2px #dcbb00f5;
    border-top: 0px;

  }
  
  #menuCores.active {
    display: block;
    height: 8vh;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    pointer-events: all;
    opacity: 1;
  }

  .BotaoBody {
    width: 21px;
    height: 21px;
  }

/******************************/
/*           NAVBAR           */
/******************************/

#menuNav {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 13vh;
  right: 0;
  max-width: 30vh;
  height: -1000px;
  opacity: 0;
  transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
}

#menuNav.active{
  display: block;
  right: 0;
  height: 36vh;
  opacity: 1;
  pointer-events: all;
  z-index: 2;
  border: solid 2px #dcbb00f5;
}

#menuNav ul {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  #menuNav li{
    margin-top: 6px;
    margin-bottom: 6px;
  }

  #menuNav a {
    font-size: 3vh;
    margin-left: 0;
  }
  
  #inicio {
    flex-direction: column;
  }

  #menu {
    width: 100%;
    height: 100%;
  }
  main{
    height: 100%;
    justify-content: flex-start;
  }
  #tituloGeral h1 {
    margin-top: 6vh;
    font-size: 6vw; 
  }
  #tituloGeral p {
    font-size: 3vw;
    width: 80%;
  }
  #container-botoes{
    height: auto;
    margin: auto 0 auto 0;
    
  }
  .botoes {
    font-size: 3vh;
    width: 80%;
    height: auto;
  }
  
  /*********************************************/
  /*           PÁGINA DE INTEGRANTES           */
  /*********************************************/
  
  #titulointegrantes {
    font-size: 24px;
    margin: 6% auto 6% auto;
  }
  
  .integrantes {
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: flex-start;
    border-bottom: 0;
  }
  
  .integrante {
    display: flex;
    min-height: 30%;
    width: 85%;
    margin: 10px 15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .integrantes img {
    width: 180px;
    height: 180px;
    margin: 10px 0 10px 0;
  }
  .integrantes h2 {
    font-size: 30px;
  }
  .integrantes p {
    font-size: 16px;
  }

  .integrante-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #iconLinkedin, #iconGithub, 
  #iconLinkedin:hover, #iconGithub:hover {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  
  
  /******************************************/
  /*           PÁGINA DE CONTATO            */
  /******************************************/
  
  .container-formulario-geral {
      width: 100%;
      height: auto;
      
  }
  .tituloContato {
      font-size: 32px;
      margin-top: 30px;
      margin-bottom: 35px;
      text-align: center;
  }
  .container-formulario {
      display: block;
      margin-left: auto;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
    .container-formulario fieldset {
        width: 90%;
        padding: 10px;
        border-width: 3px;
    }
  .container-formulario label {
      font-size: 18px;
      padding-left: 5px;
  }
  .container-formulario input {
      width: 90%;
      font-size: 16px;
  }
  .msg-form textarea {
    margin-left: 15px;
    width: 92%;
    height: 120px;
    margin-top: 30px;
    padding: 10px 3px;
  }
  .button-form {
      width: 80px;
      height: 35px;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
  }

/*************************************/
/*           PÁGINA DE FAQ           */
/*************************************/

  #corpo_pagina_faq {
      flex-direction: column;
      align-items: center;
      min-height: auto;
      
  }
  .titulo_faq h1 {
      font-size: 4vh;
      text-align: center;
  }

  .section {
      margin: 10px auto;
  }
  .left,
  .right {
      margin: 0 auto;
  }
  .toggle {
    
    margin-top: 15px;
      padding: 10px 15px;
      font-size: 4vh;
  }
  .section {
      width: 60%;
      padding: 10px;
  }


/******************************/
/*           FOOTER           */
/******************************/

  footer {
    margin-top: auto;
    z-index: 4;
  }
  .rodape-p {
    font-size: 3.5vw;
  }
}

@media (max-width: 480px){
  #titulo a{
    font-size: 40px;
  }

  #logo img {
    width: 50px;
    height: 50px;
  }

  #menuNav {
    top: 14vh;
    width: 27vh;
  }

  #menuCores {
    top: 41vh;
    width: 27vh;
  }

  .BotaoBody{
    width: 19px;
    height: 19px;
  }

  #botaoCor{
    margin-left: 1.4vh;
  }

  #menu-toggle {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}