@media (min-width: 992px) {

/****************************************/
/*           PÁGINA PRINCIPAL           */
/****************************************/

#inicio {
    width: 100%;
    height: 100VH;
    display: flex;
    box-sizing: border-box;
    float: none;
    flex-direction: row;
}

#info {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%),  url(../img/info.avif);       
    background-size: cover;
    width: 50%;
    height: 100%;
    filter: drop-shadow(2px 20px 15px #333f46);
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s ease;
    h1{
        font-size: 3vw;
        width: 85%;
        color: #f0f0f0;
        margin-top: 60vh;
        margin-left: 8%;
        transition: .2s;
    }
}
#info:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.7) 100%),  url(../img/info.avif);       
    background-size: cover;
    height: 100%;
    transition: .2s;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    h1{
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #f0f0f0;
        margin-top: 50vh;
        scale: 1.2;
    }
}



    #menu{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    #tituloMenu {
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 100%;
        margin-top: 10%;
    }

    #info h1 {
        font-size: 2.4vw;
    }

    #tituloMenu h1{
        font-size: 4vw;

    }

    #container-botoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10%;
        height: 52%;
        justify-content: space-evenly;
    }

    .BotaoBody {
        min-width: 30px;
        height: 30px;
    }

    #menuCores {
        gap: 3px;
    }

    #botaoCor {
        margin-left: 0;
    }

    .botoes:hover{
        transition: 0.3s;

        scale: 1.2;


    }

    .botoes:active{
        transition: 0.3s;

        scale: 0.95;
    }

    .botoes{
        margin-top: 2%;
        transition: 0.3s;
        width: 60%;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1%;
        padding: 1%;
        text-decoration: none;
        font-size: 4VH;
    }

    /*********************************************/
    /*           PÁGINA DE INTEGRANTES           */
    /*********************************************/

    .integrantes {
        width: 100%;
        flex-direction: row;
        
    }

    .integrante {
        width: 400px;
        height: 400px;
        img {
            width: 200px;
            height: 200px;
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
        #iconGithub, #iconLinkedin {
            width: 50px;
            height: 50px;
        }
    }

    /*******************************/
    /*      Página do Projeto      */
    /*******************************/

    #container-projeto fieldset {
        display: flex;
        flex-direction: row;     
        flex-wrap: wrap;         
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        background-color: #35375181;
        border: 4px solid rgba(0, 17, 255, 0.817);
        padding: 2%;
        width: 65%;
        border-radius: 20px;
    }

    #container-projeto input {
        width: 70%;
    }

    #container-projeto fieldset > div {
        flex: 1 1 300px;
    }

    #container-projeto input[type="radio"] {
        width: auto;
    }

    .genRadio {
        margin: 3% 5px;
    }

    /******************************/
    /*           FOOTER           */
    /******************************/

    footer {
        margin-top: 6%;    
    }

    #footer-format {
        margin-top: auto;
    }
    .rodape{
        margin-top: 2px;
        margin-bottom: 3px;
        text-align: center;
    }

    .rodape-p {
        font-size: 1.8vw;
    }
}